.chat-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    overflow: hidden;
    /* border: 2px solid #3b5998; */
}

.header-apps {
    background-color: #1d155e;
    color: white;
    width: 100%;
    text-align: center;
    padding: 15px 0;
}

.messages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 490px;
    overflow-y: scroll;
    padding: 20px;
    margin-bottom: 10px;
}

.message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.message-left {
    width: 7%;
}

.message-right {
    width: 93%;
}

.message-right>h2 {
    margin: 6px 16px 0px 16px;
    font-size: 20px;
    padding: 0 12px;
}

.user {
    font-weight: bold;
    margin-right: 10px;
    color: #333;
}

.new-message-form {
    display: flex;
    padding: 10px;
    width: 65%;
}

.new-message-input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    color: #333;
    padding: 10px;
    border-radius: 5px 0 0 5px;
}

@media screen and (max-width: 1040px) {
    .new-message-form {

        width: 70%;
    }

    .messages {
        padding: 10px;
    }

    .message-left {
        width: 10%;
    }

    .message-right {
        width: 90%;
    }

    .message-right>h2 {
        margin: 6px 13px 0px 13px;
        font-size: 18px;
        padding: 2px 12px;
    }
}

@media screen and (max-width: 840px) {
    .new-message-form {

        width: 100%;
    }
}

@media screen and (max-width: 678px) {
    .header-apps h1 {
        font-size: 18px;
    }

    .message-left {
        width: 15%;
    }

    .message-right {
        width: 85%;
    }

    .message-right>h2 {
        margin: 6px 13px 0px 13px;
        font-size: 15px;
        padding: 2px 12px;
    }
}

@media screen and (max-width: 520px) {
    .header-apps h1 {
        font-size: 15px;
    }

    .message-left {
        width: 18%;
    }

    .message-right {
        width: 82%;
    }

    .message-right>h2 {
        margin: 6px 10px 0px 6px;
        font-size: 15px;
        padding: 2px 12px;
    }

    .messages {
        padding: 10px 0 5px 10px;
    }
}