.forum-container {

    &__left {
        width: 35%;

        .group-name {
            li {
                padding-left: 20%;
                padding-right: 20%;
            }
        }
    }



    .humbager {
        display: none;
    }

    &__right {
        width: 65%;
    }
}

@media screen and (max-width: 1040px) {
    .forum-container {

        &__left {
            width: 30%;

            .group-name {
                li {
                    padding-left: 5%;
                    padding-right: 5%;

                    h2 {
                        font-size: 18px;
                    }
                }
            }
        }

        &__right {
            width: 70%;
        }
    }
}

@media screen and (max-width: 840px) {
    .forum-container {


        &_animation {

            top: 19%;
            position: absolute;
            z-index: 1;
            transform: translateX(-100%);
            -webkit-transform: translateX(-100%);
            -webkit-transition: all 1s ease-in-out;
            -moz-transition: all 1s ease-in-out;
            -o-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out;
        }

        &_animation-show {
            top: 19%;
            width: 30%;
            z-index: 1;
            position: absolute;
            transform: translateX(0);
            -webkit-transform: translateX(0);

            -webkit-transition: all 1s ease-in-out;
            -moz-transition: all 1s ease-in-out;
            -o-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out;
        }

        .humbager {
            display: block;
            width: 6%;
            position: fixed;
            height: 5%;
            top: 20%;
            z-index: 999;


        }

        &__right {
            width: 100%;
            margin-top: 35px;
        }



    }
}

@media screen and (max-width: 678px) {
    .forum-container {



        &__left {
            width: 100%;
        }



        &__right {
            width: 100%;
            margin-top: 35px;
        }



    }
}

@media screen and (max-width: 400px) {
    .forum-container {
        &_animation-show {
            top: 17%;
        }
    }
}