.section-doctor {
    height: 480px;
    background: #fff;

    scrollbar-gutter: var(--gutter, auto);

    .share-container {
        margin: 0 80px;
        display: flex;
        flex-direction: column;

        .doctor-header {
            display: flex;
            height: 50px;
            justify-content: space-between;
            margin: 45px 15px 25px 15px;


            .tilte-spec {
                font-size: 2.5rem;
                font-weight: 600;
                color: #363636;
            }
        }

        .doctor-customize {
            width: 100%;
            display: inline-block;
            height: 295px;
            border: 1px solid #d5d9d7;
            padding: 20px 0;

            .text-doctor {
                text-align: center;
                margin: 10px 0;
            }

            .doctor-image {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }

    .img-customize {
        height: 300px;

    }

    h3 {
        display: block;
        width: 100%;
        height: 100%;
        border: 1px solid green;
    }

}