.section-doctor {
    // background: #fff;

    scrollbar-gutter: var(--gutter, auto);

    .share-container {
        margin: 0 170px;
        display: flex;
        flex-direction: column;

        .container-loading {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            &_text {
                color: #27284a;
                font-size: 20px;
                font-weight: 700;
                letter-spacing: 2px;
            }

            &_body {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &_body .line-box {
                padding: 1px;
                width: 40%;
                height: 25px;
                border: 2px solid #27284a;
                border-radius: 20px;
            }

            &_body .line-box .line {
                height: 20px;
                border-radius: 20px;
                background: #16917c;
                animation: loading 3s forwards cubic-bezier(0, 0, 0, 0);
            }
        }

        .doctor-header {
            display: flex;
            height: 50px;
            justify-content: space-between;
            margin: 45px 15px 25px 15px;


            .tilte-spec {
                font-size: 2.5rem;
                font-weight: 600;
                color: #363636;
            }
        }

        .doctor-customize_f {
            width: 100%;
            display: inline-block;
            height: 350px;


        }

        .doctor-customize {
            width: 100%;
            display: inline-block;
            height: 350px;
            /* border: 1px solid #d5d9d7; */
            padding: 20px 0;
            box-shadow: 0px 0px 4px -1px #968b8b;
            border-radius: 5px;


            .text-doctor {
                text-align: center;
                margin: 5px 0;
            }

            .doctor-image {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                box-shadow: 0px 0px 3px 0px #cdbfb2;
            }
        }
    }

    h3 {
        display: block;
        width: 100%;
        height: 100%;
        border: 1px solid green;
    }

}

@keyframes loading {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@media screen and (max-width:1040px) {
    .section-doctor {
        .share-container {
            .doctor-customize {
                height: 260px;

                .doctor-image {
                    width: 120px !important;
                    height: 120px !important;
                }
            }
        }
    }
}

@media screen and (max-width:840px) {
    .section-doctor {
        .share-container {
            .doctor-customize {
                height: 230px;
                padding: 10px 0;

                h2 {
                    font-size: 15px;
                }

                .text-doctor {
                    font-size: 15px;
                }

                .doctor-image {
                    width: 100px !important;
                    height: 100px !important;
                }
            }
        }
    }
}

@media screen and (max-width:520px) {
    .section-doctor {
        .share-container {
            &_body .line-box {

                width: 100%;

            }

            .doctor-customize {
                height: 200px;

                h2 {
                    font-size: 13px;
                }

                .text-doctor {
                    font-size: 13px;
                }

                .doctor-image {
                    width: 80px !important;
                    height: 80px !important;
                }
            }
        }
    }
}