.card-profile {
    background: #fff;
    padding: 30px;

    display: flex;

    border-radius: 10px;
    box-shadow: -4px 5px 5px rgb(199 190 190);

    &__left {
        display: flex;
        width: 60%;

        .prof-left {
            width: 20%;
            margin-right: 0.5rem;

            img {
                width: 110px;
                height: 110px;
            }

            button {
                font-size: 15px;
                margin-left: 1.25rem;
                margin-top: 0.5rem;
            }
        }

        .prof-right {
            width: 80%;

            h2 {
                font-size: 20px;
            }

            p {
                font-size: 14px;
                line-height: 1.5rem
            }
        }

    }

    &__right {
        width: 40%;
        border-left: 1px solid rgb(226, 220, 220);

        .chedule-prof {
            margin-left: 1rem;

            h4 {
                font-size: 15px;
            }
        }

        .chedulehealth-prof {
            margin-left: 1rem;
        }
    }
}

@media screen and (max-width: 1040px) {
    .card-profile {

        padding: 20px;

        &__left {
            .prof-left {


                img {
                    width: 90px;
                    height: 90px;
                }

                button {
                    font-size: 15px;
                    margin-left: 0.5rem;
                    margin-top: 0.5rem;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .card-profile {

        padding: 10px;
        flex-direction: column;
        gap: 20px;

        &__left {
            display: flex;
            width: 100%;

            .prof-left {
                width: 30%;
                margin-right: 0.25rem;

                // img {
                //     width: 110px;
                //     height: 110px;
                // }

                // button {
                //     font-size: 15px;
                //     margin-left: 1.25rem;
                //     margin-top: 0.5rem;
                // }
            }

            .prof-right {
                width: 70%;

                h2 {
                    font-size: 18px;
                }

                p {
                    font-size: 13px;
                    line-height: 1.25rem
                }
            }
        }

        &__right {
            width: 100%;
            border-left: none;

            .chedule-prof {
                margin-left: 0rem;

                h4 {
                    font-size: 13px;
                }
            }

            .chedulehealth-prof {
                margin-left: 0rem;

                h4 {
                    font-size: 13px;
                }
            }
        }
    }
}