.news {
    display: flex;
    border-bottom: 1px solid #dcd4d4;
    padding: 10px 0;

    gap: 3%;

    img {
        width: 140px;
        height: 140px;
        cursor: pointer;
    }

    &__title {
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
    }

    &__overfow {
        height: 90px;
        overflow: hidden;
    }

    &__actions {
        text-align: right;
        font-size: 16px;
    }
}

@media screen and (max-width: 678px) {
    .news {
        img {
            width: 120px;
            height: 120px;

        }

        &__title {
            font-size: 18px;
        }
    }
}

@media screen and (max-width: 678px) {
    .news {
        img {
            width: 100px;
            height: 100px;

        }

        &__title {
            font-size: 15px;
        }
    }
}