.section-specialty {
    // height: 500px;

    scrollbar-gutter: var(--gutter, auto);

    .share-container {
        margin: 0 80px;
        display: flex;
        flex-direction: column;

        .container-loading {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            &_text {
                color: #27284a;
                font-size: 20px;
                font-weight: 700;
                letter-spacing: 2px;
            }

            &_body {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &_body .line-box {
                padding: 1px;
                width: 40%;
                height: 25px;
                border: 2px solid #27284a;
                border-radius: 20px;
            }

            &_body .line-box .line {
                height: 20px;
                border-radius: 20px;
                background: #16917c;
                animation: loading 3s forwards cubic-bezier(0, 0, 0, 0);
            }
        }


        .specialty-customize {
            cursor: pointer;

            .text-specialty {
                text-align: center;
                margin: 10px 0;
            }

            &:hover {
                color: rgb(48, 142, 201);
            }
        }
    }

    .img-customize {
        height: 300px;

    }

}


//reset slick slider css
.share-container {
    .slick-list {
        margin-left: -5px;
        margin-right: -5px;

        .slick-track {
            width: 7200px !important;
            // transform: translate3d(0, 0, 0) !important;
        }
    }

    .slick-prev {

        // position: relative !important;
        left: -25px !important;
        z-index: 1000 !important;
        height: 40px !important;
        width: 40px !important;
        padding: 10px !important;
        background: #d5d2d2 !important;
        opacity: 0.7 !important;

        &:hover {
            background: rgb(183, 180, 180) !important;
        }
    }

    .slick-disabled {
        display: none !important;
    }

    .slick-next {
        right: -25px !important;
        height: 40px !important;
        width: 40px !important;
        padding: 10px !important;
        background: #d5d2d2 !important;
        opacity: 0.7 !important;
        top: 45%;

        &:hover {
            background: rgb(183, 180, 180) !important;
        }

    }

    .slick-slide {
        padding: 8px;


        .img-sp {
            display: block;
            height: 224px !important;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@keyframes loading {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@media screen and (max-width: 1040px) {
    .share-container {
        margin: 0 20px !important;

        .slick-prev {
            left: -17px !important;
        }

        .slick-next {
            top: 40% !important;
            right: -17px !important;
        }

        .slick-slide {

            .img-sp {

                height: 180px !important;

            }
        }
    }
}

@media screen and (max-width: 840px) {
    .share-container {
        .specialty-customize {


            .text-specialty {
                font-size: 15px;
            }
        }

        .slick-prev {
            display: none !important;
        }

        .slick-next {

            display: none !important;
        }


        .slick-slide {
            padding: 0px;
            margin: 5px !important;

            .img-sp {

                height: 150px !important;

            }
        }
    }
}

@media screen and (max-width: 580px) {
    .share-container {
        margin: 0 !important;
        padding: 0 10px !important;

        .specialty-customize {


            .text-specialty {
                font-size: 13px;
            }
        }

        .slick-list {


            .slick-track {
                width: 3725px !important;
            }
        }



        .slick-slide {
            margin: 7px !important;

            .img-sp {

                height: 100px !important;

            }
        }
    }
}

@media screen and (max-width: 400px) {
    .share-container {




        .slick-slide {

            .img-sp {

                height: 80px !important;

            }
        }
    }
}