.section-news {

    padding: 5px 0;

    .news-container {
        margin: 55px 210px;

        &__item {
            padding: 1rem;
            height: 400px;
        }
    }
}

//reset slick slider css

.news-container {
    .slick-slide {
        padding: 10px;
    }

    .img-news {
        display: block;
        height: 300px !important;
        width: 450px !important;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 1040px) {
    .section-news {


        .news-container {
            margin: 20px 80px;


        }
    }

    .news-container {


        .img-news {
            height: 250px !important;
            width: 400px !important;
        }
    }
}

@media screen and (max-width: 840px) {
    .section-news {


        .news-container {
            margin: 0px 25px;

            &__item {

                height: 350px;
            }
        }
    }

    .news-container {

        .slick-slide {
            padding: 9px;
        }

        .img-news {
            height: 200px !important;
            width: 350px !important;
        }
    }
}

@media screen and (max-width: 520px) {
    .section-news {
        .news-container {
            margin: 0px 25px;

            &__item {

                height: 350px;
            }
        }
    }

    .news-container {
        .img-news {
            height: 150px !important;
            width: 350px !important;
        }
    }
}

@media screen and (max-width: 400px) {
    .section-news {
        .news-container {
            margin: 0px 25px;

            &__item {

                height: 290px;
            }
        }
    }

    .news-container {
        .img-news {
            height: 150px !important;
            width: 300px !important;
        }
    }
}