.section-news {

    padding: 5px 0;

    .news-container {
        margin: 55px 210px;

        &__item {
            padding: 1rem;
            height: 400px;
        }

        .container-loading {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            &_text {
                color: #27284a;
                font-size: 20px;
                font-weight: 700;
                letter-spacing: 2px;
            }

            &_body {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &_body .line-box {
                padding: 1px;
                width: 40%;
                height: 25px;
                border: 2px solid #27284a;
                border-radius: 20px;
            }

            &_body .line-box .line {
                height: 20px;
                border-radius: 20px;
                background: #16917c;
                animation: loading 3s forwards cubic-bezier(0, 0, 0, 0);
            }
        }
    }
}

//reset slick slider css

.news-container {
    .slick-slide {
        padding: 10px;
    }

    .img-news {
        display: block;
        height: 300px !important;
        width: 450px !important;
        margin-left: auto;
        margin-right: auto;
    }
}

@keyframes loading {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@media screen and (max-width: 1040px) {
    .section-news {


        .news-container {
            margin: 20px 80px;


        }
    }

    .news-container {


        .img-news {
            height: 250px !important;
            width: 400px !important;
        }
    }
}

@media screen and (max-width: 840px) {
    .section-news {

        padding: 5px 0 40px 0;

        .news-container {
            margin: 0px 25px;

            &__item {

                height: 350px;
            }
        }
    }

    .news-container {

        .slick-slide {
            padding: 9px;
        }

        .img-news {
            height: 200px !important;
            width: 350px !important;
        }
    }
}

@media screen and (max-width: 520px) {
    .section-news {
        padding: 20px 0 40px 0;

        .news-container {
            margin: 0px 25px;

            &_body .line-box {

                width: 80%;

            }

            &__item {

                height: 350px;
            }
        }
    }

    .news-container {
        .img-news {
            height: 150px !important;
            width: 350px !important;
        }
    }
}

@media screen and (max-width: 400px) {
    .section-news {
        .news-container {
            margin: 0px 25px;

            &__item {

                height: 290px;
            }
        }
    }

    .news-container {
        .img-news {
            height: 150px !important;
            width: 300px !important;
        }
    }
}