.section6 {
    background-color: #16917c;
    color: #fff;

    &-container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        height: 350px;

        &__title {
            font-size: 1.65rem;
            text-align: center;
            width: 70%;
            font-weight: 800;
        }

        &__btn {
            width: 10%;
            background-color: #27284a;
            text-align: center;
            padding: 15px 0;
            border-radius: 30px;
            margin-top: 20px;
        }
    }
}