.navbar-common {
    box-shadow: 1px 2px 0px #e0e0e0;

    .navbar-up {
        padding: 10px 0 0 0;

        .header-up {
            display: flex;
            margin: auto;
            justify-content: space-evenly;
            border-bottom: 1px solid #f2eded;

            .content-item {
                display: flex;
                align-items: center;

                .text-item {
                    margin: 10px;
                }

            }
        }
    }

    .navbar-down {
        .header-down {
            display: flex;
            margin: auto;
            justify-content: space-around;
            height: 50px;
            align-items: center;

            .left-content {
                display: flex;
                justify-content: space-evenly;
                width: 70%;

                .child-content {
                    font-size: 1.2rem;
                }
            }

            .change-language {
                display: flex;

                .language-vi {
                    margin: 0 5px;
                    cursor: pointer;
                    opacity: 0.3;

                    &.action {
                        opacity: 1;

                        span {
                            color: orange;

                        }

                    }

                    &:hover {
                        opacity: 0.8;
                    }
                }

                .language-en {
                    cursor: pointer;
                    opacity: 0.3;

                    &.action {
                        opacity: 1;

                        span {
                            color: rgb(33, 190, 230);
                        }
                    }

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }
    }

}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 1px 2px 0px #e0e0e0;
    background: #fff;
    z-index: 5;
}