.loading-spinner {
    width: 16px;
    height: 16px;
    color: #0c3a80;
    margin-right: 4px;
    margin-top: 2px;
    margin-left: 4px;
    display: inline-block;
}

.animate-spin {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}