.loading-spinner {
    width: 14px;
    height: 14px;
    color: rgb(245, 189, 36);
    margin-right: 4px;
    margin-top: 2px;
    display: inline-block;
}

.animate-spin {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}