.booking-chedule {
    &__header {
        padding: 12px 0;
        width: 60%;

        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }

        h4 {
            font-size: 15px;
        }

        h2 {
            font-size: 18px;
        }
    }

    &__container {
        width: 60%;
        margin: 12px auto;

        &__form {
            .form-up {
                display: grid;
                grid-template-columns: repeat(2, minmax(0, 1fr));
                gap: 5%;
            }

            .form-down {
                display: grid;
                grid-template-columns: repeat(3, minmax(0, 1fr));
                gap: 5%;
                margin-top: 1rem;
            }
        }
    }
}

@media screen and (max-width: 1040px) {
    .booking-chedule {
        &__header {

            width: 80%;
        }

        &__container {
            width: 80%;

        }
    }
}

@media screen and (max-width: 840px) {
    .booking-chedule {
        &__header {

            width: 90%;
        }

        &__container {
            width: 90%;

        }
    }
}

@media screen and (max-width: 768px) {
    .booking-chedule {


        &__container {
            &__form {
                .form-up {

                    grid-template-columns: repeat(1, minmax(0, 1fr));

                }

                .form-down {

                    grid-template-columns: repeat(1, minmax(0, 1fr));

                    margin: 1rem 0;
                }
            }
        }
    }
}